{% extends "layout/base.html" %}
{% block content %}

<h2>Mark Attendance — {{ student.name }}</h2>

<div class="card form-card">

<form method="post">
{% csrf_token %}

<label>Status</label>

<select name="status">
    <option value="Present">Present</option>
    <option value="Absent">Absent</option>
</select>

<br>

<button class="submit-btn">Save Attendance</button>

</form>

<br><br>

<a class="btn view" href="/attendance-history/{{ student.id }}">
    View History
</a>

<!-- <a class="btn edit" href="/students/"> ← Back</a> -->

</div>

{% endblock %}
